body
{
    background-color: rgb(240, 242, 245);
}
.whole2
{
    background-color: rgb(240, 242, 245);
    width: 100%;
    height: 1000px;
    /* padding: 40px auto; */
}

nav
{
    display: flex;
    background-color: white;
    width: 100%;
    height: 50px;
    /* padding: 5px 10px; */
    justify-content: space-between;
    align-items: center;
    margin: 0;
    box-shadow: 0 0 5px lightgrey;
}

nav i
{
    font-size: 25px;
    
}
.one
{
    display: flex;
    width: 25%;
    height: 100%;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    /* background-color: greenyellow; */
    /* box-shadow: 0 0 5px; */
    border-bottom: none;
    position: relative;
    
}


.one img
{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: auto 5px auto -20px;
    /* border: 2px solid black; */
    cursor: pointer;
}

.oned
{
    width: calc(80%);
    height: calc(40px);
    border-radius: 30px;
    background-color: rgb(241 243 244);
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin: auto 20px auto -25px;
    /* position: relative; */
    padding: auto 10px;
}

.oned i 
{
    margin: 5px;
}


.oned input
{
    width: 100%;
    height: 100%;
    background-color: rgb(241 243 244);
    border: none;
    outline: none;
    margin: 5px;
}

.oned button
{
    background-color: transparent;
    border: none;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}

.onedc
{
    width: calc(50vh - 22px);
    height: fit-content;
    border-radius: 0 0 10px 10px;
    position: absolute;
    background-color: white;
    display: none;
    top: 51px;
    left: 0;
    z-index:1;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(101, 103, 107);
    box-shadow: 0 2px 7px rgb(151, 151, 151);
}

.one.one:focus-within{
box-shadow: 0 2px 7px rgb(151, 151, 151)
}
   

.one:focus-within .onedc 
{
    display:block;
    
}

.onedc1, .onedc2
{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

#onedc11
{
    color: rgb(50 50 50);
}

#onedc12
{
    color: rgb(24 139 245);
}

.onedc1 p, .onedc2 p, .onedc2 i
{
    font-size: medium;
}

.onedc21
{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.onedc21 div
{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: rgb(240, 242, 245);
    display: flex;
    justify-content: center;
    align-items: center;
}

.onedc21 p
{
    width: 50%;
    margin: auto 5px;
}

.two
{
    display: flex;
    width:50%;
    height: 100%;
    color: rgb(101, 103, 107);
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: turquoise; */
    cursor: pointer;
}

.two a
{
    text-decoration: none;
    color: rgb(101, 103, 107);
}

.two .ho
{
    color: rgb(24 139 245);
    border-bottom: 2px solid rgb(24 139 245);
}

.hh, .wh, .mh, .gh, .gah, .ti1h, .ti2h, .ti3h, .timgh
{
    position: relative;
}

.hhc, .whc, .mhc, .ghc, .gahc, .ti1hc, .ti2hc, .ti3hc, .timghc
{
    width: fit-content;
    height: 20px;
    padding: 5px;
    background-color: rgb(50 50 50);
    border-radius: 5px;
    display: none!important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40px;
    left: -10px;

    z-index: 1;
}

.hhc p,.whc p, .mhc p, .ghc p, .gahc p, .ti1hc p, .ti2hc p, .ti3hc p, .timghc p
{
    text-align: center;
    margin: 3px auto;
}

.hh:hover .hhc, .wh:hover .whc, .mh:hover .mhc, .gh:hover .ghc, .gah:hover .gahc, .ti1h:hover .ti1hc, .ti2h:hover .ti2hc, .ti3h:hover .ti3hc, .timgh:hover .timghc
{
    display: block!important;
}

.three
{
    display: flex;
    width: 25%;
    height: 100%;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: cornflowerblue; */
    cursor: pointer;
}

.ti1
{
    position: relative;
    
}

.ti1c
{
    width: calc(610px - 15px);
    height: calc(500px - 15px);
    border-radius: 10px;
    background-color: rgb(247 248 250);
    position: absolute;
    right: -203px;
    top: 45px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 7.5px;
    z-index: 1;
    /* overflow: auto; */
    display: none;
}

.ti1:focus-within  .me
{
    color: rgb(24 139 245);
    /* background-color: rgb(24 139 245); */
}

.ti1:focus-within .ti1c
{
    display: block;
}
.ti1c h1
{
    width: 100%;
    height: 2.5%;
    margin: 5px 0 0 10px;
}
.ti1c1
{
    width: 100%;
    height: 97.5%;
    display: flex;
    justify-content: space-evenly;
    align-items:flex-start;
    margin: 20px auto;
    cursor: pointer;
    overflow: auto;
}

/* #h
{
    display: flex;
    width: 95%;
    height: 100%;
    overflow: auto;
} */

.ti1c11
{
    width: calc(66.67% - 40px);
    height: calc((100% - 40px) + 1500px);
    background-color: white;
    margin:0 7.5px;
    border-radius: 10px;
    padding: 20px;
    /* overflow: auto; */
    cursor: pointer;
}

.ti1c11::-webkit-scrollbar
{
    width: 5px;
    background: none;
}
.ti1c111
{
    width: 100%;
    height: 40px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(240, 242, 245);
    border-radius: 30px;
    /* padding: auto 10px; */
}

.ti1c111 i
{
    margin: auto 5px auto 10px;
}

.ti1c111 input
{
    margin: auto 10px auto 5px;
    width: calc(100% - 40px);
    height: 25px;
    font-size: medium;
    background-color: rgb(240, 242, 245) ;
    outline: none;
    border: none;
}

.ti1c112
{
    display:flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    /* background-color: tomato; */
    margin: -10px auto 0 auto;
}

.ti1c112 .ca
{
    color: coral;
}

.ti1c112 .st
{
    color: rgb(82 213 196);
}

.ti1c112 .gr
{
    color: rgb(24 139 245);
}

.ti1c112 .ra
{
    color: blueviolet;
}

.ti1c112 .fa
{
    color: goldenrod;
}

.ti1c112 .ti
{
    color: blueviolet;
}

.ti1c112 .fl
{
    color: rgb(234 87 42);
}

.ti1c112 .gm
{
    color: rgb(24 119 245);
}

.ti1c112 .pa
{
    color: rgb(24 139 245);
}

.ti1c112 .vd
{
    color: rgb(82 213 196);
}

.ti1c112 .nw
{
    color: tomato;
}

.ti1c112 .cd
{
    color: lightskyblue;
}

.ti1c112 .om
{
    color: limegreen;
}

.ti1c112 .nd
{
    color: chartreuse;
}

.ti1c112 .te
{
    color: lightpink;
}

.ti1c112 .kr
{
    color: purple;
}

.ti1c112 .gp
{
    color: rgb(24 139 245);
}

.ti1c112 .go
{
    color: rgb(24 119 245);
}

.ti1c112 .th
{
    color: skyblue;
}

.ti1c112 .at
{
    color: tomato;
}

.ti1c112 .fd
{
    color: brown;
}

.ti1c112 .ly
{
    color: goldenrod;
}

.ti1c112 .lr
{
    color: lightgreen;
}
.ti1c112 .ss
{
    color: plum;
}

.ti1c112 .sn
{
    color: rgb(24 119 245);
}
.ti1c112 div
{
    width: 90%;
    height: 100%;
    font-size: small;
    margin: 20px 0 0 0;
}

.ti1c112 h3
{
    margin: 0 auto 10px auto;
    color: rgb(50 50 50);
}

.ti1c112 p
{
    margin: -10px auto 0 auto;
    color: rgb(137 138 141);
}

.ti1c1122
{
    border-top: 1px solid rgb(183 183 183);
    border-bottom: 1px solid rgb(183 183 183);
    width: 100%;
    height: 160px;
}

.ti1c1123
{
    /* border-top: 1px solid rgb(183 183 183); */
    border-bottom: 1px solid rgb(183 183 183);
    width: 100%;
    height: 230px;
}

.ti1c1124
{
    /* border-top: 1px solid rgb(183 183 183); */
    border-bottom: 1px solid rgb(183 183 183);
    width: 100%;
    height: 160px;
}

.ti1c1125
{
    /* border-top: 1px solid rgb(183 183 183); */
    border-bottom: 1px solid rgb(183 183 183);
    width: 100%;
    height: 370px;
}

.ti1c1126
{
    /* border-top: 1px solid rgb(183 183 183); */
    border-bottom: 1px solid rgb(183 183 183);
    width: 100%;
    height: 150px;
}
.ti1c12
{ 
    width: calc(33.33% - 40px);
    height: calc(100% - 40px);
    background-color:white;
    margin:0 7.5px;
    border-radius: 10px;
    padding: 20px;
}

.ti1c121
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px auto;
}

.ti1c121 i
{
    margin: auto 10px;
}

.ti1c121 p
{
    margin: auto 10px;
}

.ti1c122
{
    width: 100%;
    height: 150px;
    border-top: 2px solid rgb(183 183 183);

}
.ti2 
{
    position:relative
}

.ti2c 
{
    width: 300px;
    height: 400px;
    background-color: white;
    padding: 20px;
    position: absolute;
    right: -135px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(50 50 50);
    display: none;
    overflow: auto;
}

.ti2:focus-within .ss 
{
    color: rgb(24 139 245);
}

.ti2:focus-within .ti2c
{
    display: block;
}

.ti2c::-webkit-scrollbar
{
    width: 5px;
    background: none;
}

.ti2c::-webkit-scrollbar-thumb
{
    width: 5px;
    border-radius: 5px;
    background-color: rgb(101, 103, 107);
}

.ti2c1 
{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: chartreuse; */
    cursor: pointer;
}

.ti2c11 
{
    width: 50%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* font-size: small; */
    /* background-color: brown; */
    cursor: pointer;
}

.ti2c11 i
{
    font-size: 15px;
}

.ti2c2
{
    width: 100%;
    height: 35px;
    border-radius: 30px;
    padding: auto 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(241 243 244);
    margin: 15px auto;
}

.ti2c2 input
{
    background-color: rgb(241 243 244);
    width: 100%;
    height: 25px;
    margin: auto  15px auto 5px;
    border: none;
    outline: none;
}

.ti2c2 i
{
    font-size: 20px;
    margin: auto 5px auto 15px;
}

.ti2c3 
{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
}

.ti2c31
{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: rgb(241 243 244);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ti2c32
{
    width: 70%;
    height: 40px;
    margin: auto 5px;
    
    /* background-color: aqua; */
}

.ti2c32 h3
{
    margin: 0 5px 5px 5px;
    font-size: 13px;
}

.ti2c32 p
{
    margin: 0 5px 0 5px;
    font-size: 12px;
}


.ti2c31b, .ti2c31b1
{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-image: url(./dp.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: yellowgreen; */
    margin: 2px 0 auto 15px;
}

.ti2c31b1
{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-image: url(./smartentry.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: yellowgreen; */
    margin: 2px 0 auto 15px;
}

#ti2c31img2,#ti2c31img6
{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin: 15px 15px auto -15px;
    border: 2px solid white;
}

#ti2c31img1,#ti2c31img3,#ti2c31img4,#ti2c31img5
{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.ti3 
{
    position: relative;
}
.ti3c
{
    width: 300px;
    height: 410px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    right: -70px;
    /* top: 45.5px; */
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    display: none;
    cursor: pointer;
}

.ti3c::-webkit-scrollbar
{
    width: 5px;
    border-radius: 5px;
    background:none
}

.ti3c::-webkit-scrollbar-thumb
{
    width: 5px;
    border-radius: 5px;
    background-color: rgb(50 50 50);
}

.ti3:focus-within .no 
{
    color: rgb(24 139 245);
}  

.ti3:focus-within .ti3c
{
    display: block;
}

.ti3c1
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ti3c2
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ti3c2 p
{
    margin: auto 10px auto 0;
    font-weight: 600;
}

.ti3c3
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ti3c3p
{
    color: rgb(24 139 245);
}

.ti3c4
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 80px;
    margin: 15px auto;
    /* background-color: crimson; */
    
}

.ti3c4img1
{
    width: 55px;
    height: 55px;
    border-radius: 100%;
    background-image: url(./solarpanel.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
}

.ti3c4img2
{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
    color: white;
    margin: 35px 0 0 30px ;
    
}

.ti3c4img11
{
    width: 55px;
    height: 55px;
    border-radius: 100%;
    background-image: url(./modelyblue.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 1px solid black; */
}

.ti3c4img21
{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(24 139 245);
    color: white;
    margin: 35px 0 0 30px ;
    
}

.ti3c4img12
{
    width: 55px;
    height: 55px;
    border-radius: 100%;
    background-image: url(./adesuwa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 1px solid black; */
}

.ti3c4img22
{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(69 189 98);
    color: white;
    margin: 35px 0 0 30px ;
    
}

.ti3c4img13
{
    width: 55px;
    height: 55px;
    border-radius: 100%;
    background-image: url(./seyi.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 1px solid black; */
}

.ti3c4img23
{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb;
    color: white;
    margin: 35px 0 0 30px ;
    
}


.ti3c4img2 i, .ti3c4img21 i, .ti3c4img22 i, .ti3c4img23 i
{
    font-size: 15px;
}

.ti3c4d
{
    width: 65%;
    font-size: small;
    /* height: 30px; */
}

.ti3c4 p
{
    margin: 3px auto 3px auto;
    font-weight: 600;
    color: rgb(100 100 100);
}

.ti3c4 h1
{
    margin: auto ;
    color: rgb(50 50 50);
}

.ti3c4 .cl
{
    font-size: small;
    color: rgb(24 139 245)
}

.three img
{
    width: 25px;
    height: 25px;
    border-radius: 100%;
}

.three button
{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgb(241 243 244);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timg
{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.timgc
{
    width: 320px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    right: 0;
    padding: 5px 10px;
    display: none;
    
}

.timgc1
{
    width: 100%;
    height: 30%;
    padding: 10px;
    cursor: pointer;
}

.timgc11
{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.timgc11 img
{
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

.timgc11 p
{
    /* margin: auto 0 auto -20px; */
    font-size: 13px;
    font-weight: 600;
    width: 80%;
}

.timgc12
{
    width: 100%;
    height: 40%;
    text-align: left;
    color: rgb(24 139 245);
    font-weight: 600;
    border-top: 1px solid rgb(183 183 183);
}

.timgc2
{
    width: 100%;
    height: fit-content;
    padding: auto 10px;
    font-size: small;
}
.timgc21
{
    display: flex;
    width: 100%;
    height: 40px;
    margin: auto 10px;
    justify-content: space-between;
    align-items: center;
}

.timgc21 div
{
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    align-items: center;
}

.timgc21 i
{
    margin: 0 15px 0 0;
}

.timgc21 p
{
    width: 90%;
}

#timgc21p
{
    margin: 0  0 0 -5px;
}

.timgc21i
{
    position: relative;
    margin: 0 -80px 0 0;
}

.timgc21i button
{
    background: transparent;
}
.timgc21ic
{
    width:100%;
    height: 400px;
    background-color:rebeccapurple;
    border-radius: 10px;
    position: absolute;
    right: 260px;
    top: -145px;
    padding: 5px 10px;
    display: none!important; 
    /* z-index: -1; */
}

.timg:focus-within .timgc
{
    display: block;
}

.timgc21i:focus-within .timgc21ic
{
    display: block!important;
}

.pf
{
    width: 100%;
    height: 500px;
    background-color: rgb(243 242 241);
    font-family: Arial, Helvetica, sans-serif;
}

.pf img
{
    width: 800px;
    height: 400px;
    margin: 0 0 0 250px;
    border-radius: 0 0 10px 10px;
    position: relative;
}

#bt-pf
{
    width: 150px;
    height: 40px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: -40px 20px 0 800px;
    font-weight: 600;
    /* z-index: 1; */
    position: absolute;
    right: 200px;
    top: 430px;
    border: none;
    font-size: small;
}

#bt-pf p
{
    margin: auto 5px;
}

#bt-pf i
{
    font-size: large;
}

.pf1
{
    width: calc(64% - 20px);
    height: calc(180px - 20px);
    margin: 1px auto;
    border-bottom: 1px solid rgb(101, 103, 107);
    margin: 0 auto 0 250px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pf11
{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
}

.pf11 img
{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: auto 0 auto 0;
}

.pf11d
{
    width: 60%;
    height: 100%;
    
}

.pf11d h1
{
    font-size: 25px;
    margin: 0 auto 0 auto;
}

.pf11d div
{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pf11d img
{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: auto 0 auto -8px;
    border: 2px solid white;
}

.pf12
{
    width: 40%;
    height: 100%;
    display: block;
    /* border: 1px solid black; */
    /* border-bottom: 1px solid rgb(50 50 50); */
}

#bt1
{
    background-color: rgb(24 139 245);
    color:white;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: none;
}

#bt2
{
    background-color: rgb(100 100 100);
    color: black;
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin: auto;
}

#bt1, #bt2
{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pf2
{
    width: calc(64% - 20px);
    height: calc(40px -20);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 0 250px;
    padding: 10px;
    /* border: 1px solid black; */
}

.pf2 div
{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pf2 p
{
    margin: auto 10px;
}

.pf2 a
{
    text-decoration: none;
    color: rgb(101, 103, 107);
    font-weight: 600;
}
